%% ----------------------------------------------------------------------
%% epv configuration file
%% ----------------------------------------------------------------------

[
 {epv,
  [
   %% Local IP address to bind to
   %% Default: {0,0,0,0} (any)
   %%{tcp_bind_address, {0,0,0,0}},

   %% Local TCP port number to listen to
   %% Default: 8080
   %%{tcp_port_number, 8080},

   %% Show media files metainfo at the bottom of page or not
   %% Default: true
   %%{show_tags, true},

   %% Directory to publish.
   %% Mandatory configuration option, with no default.
   {media_dir, "/path/to/your/media"},

   %% Where cache will be stored (directory)
   %% Mandatory configuration option, with no default.
   {cache_dir, "/path/to/cache/dir"},

   %% Language to use for Web interface.
   %% Default: en
   %%{language, en},

   %% Path to file with mime types definitions
   %% Default: "/etc/mime.types"
   %%{mime_types, "/etc/mime.types"},

   %% Path to log file. No default value. If not defined,
   %% logging will be disabled.
   %%{log_path, "/path/to/log/file.log"},

   %% Threshold for log messages.
   %% Valid values: debug, info, warning, error, critical, none.
   %% Default: info
   %%{loglevel, info}
  ]},

 {sasl,
  [
   %% sasl log location
   %%{sasl_error_logger, {file, "sasl.log"}},

   %% log message timestamps will be specified in UTC
   {utc_log, true}
  ]}

].

