%% ----------------------------------------------------------------------
%% epv configuration file
%% ----------------------------------------------------------------------

[
 {epv,
  [
   %% Local IP address to bind to
   %% {tcp_bind_address, {0,0,0,0}},

   %% Local TCP port number to listen to
   %% {tcp_port_number, 8080},

   %% Directory to publish
   %% {media_dir, "priv/media"},

   %% Where meta info will be stored (directory)
   %% {meta_dir, "priv/meta"},

   %% Where static HTML resources located
   %% {www_dir, "priv/www"},

   %% mime types definitions filename
   %% {mime_types, "/etc/mime.types"}
  ]},

 {sasl,
  [
   %% sasl log location
%%   {sasl_error_logger, {file, "sasl.log"}},

   %% log message timestamps will be specified in UTC
   {utc_log, true}
  ]}

].

