/*
## Author  : Aleksey Morarash <aleksey.morarash@gmail.com>
## Created : 2 Dec 2012
## Description : web pages style definitions
*/

body, td, p, div, span, form, input, textarea, select, button, h1, h2 {
    margin: 0;
    padding: 0;
    font-family: verdana, arial;
}

body {
    margin-top: 0;
    margin-bottom: 0;
    background-color: silver;
}

a {
    color: black;
    text-decoration: underline;
}

.error {
    color: red;
    font-weight: bold;
}

.warning {
    color: orange;
    font-weight: bold;
}

